<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

    <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MyTask</title>

        <link rel="stylesheet" type="text/css" href="{% static 'task/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'task/css/login.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <script src="{% static 'task/js/bootstrap.min.js' %}"></script>
	    <script src="{% static 'task/js/user.js' %}"></script>
	    <script src="{% static 'task/js/csrf.js' %}"></script>
    </head>

    <body>
    	<div class="navbar navbar-default navbar-fixed-top">
		    <div class="container">
		        <div class="navbar-header">
		            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="/">MyTask</a>
		        </div>
		        <center>
		            <div class="navbar-collapse collapse" id="navbar-main">
		            	<div class="navbar-right">
			            	<a class="btn btn-default navbar-btn" href="/accounts/login/" role="button">Sign In</a>
                            <a class="btn btn-default navbar-btn" href="/accounts/logout/" role="button">Sign Out</a>
		                    <a class="btn btn-primary navbar-btn" href="/accounts/register/" role="button">Sign Up</a>
	                    </div>
		            </div>
		        </center>
		    </div>
		</div>
    	
		{% block content %}
	    {% endblock %}

	    
    </body>
</html>
